<!DOCTYPE html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' rel='stylesheet'>
    <title>{{personal.name}} - {{personal.jobtitle}}</title>
  </head>
  <body>
    <div id='main-wrapper'>
      <div id='information'>
        <div id='bio'>
          <!--<figure>
            <img src="{{personal.picture}}">
          </figure>-->
          <div>
            <h1>{{personal.name}}</h1>
            <div class='lists' id='education'>
              <div class='wrapper'>
                <ul>
                {{#edu}}
                  <li>
                    <h3>{{title}}</h3>
                    <span>{{start}} - {{end}}</span>
                    <p>{{desc}}</p>
                  </li>
                {{/edu}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <section id='profile'>
          <h2>Perfil</h2>
          <div class='wrapper'>
            <p style="text-align: justify;">{{personal.bio}}</p>
          </div>
          </br>
        </section>
        <section class='lists' id='experience'>
          <h2>Experiencia</h2>
          <div class='wrapper'>
            <ul>
            {{#exp}}
              <li>
                <h3>{{title}}</h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>
                {{#keywords}}
                  <i class='keyword'>{{word}}</i>,
                {{/keywords}}
                {{#details}}
                  <p class='desc-detailed'>{{detail}}</p>
                {{/details}}
                <p><a href='{{link}}' target="_blank">{{link}}</a></p>
              </li>
            {{/exp}}
            </ul>
          </div>
        </section>
      </div>
      <aside>
        <section id='details'>
          <h2>Detalle</h2>
          <div class='wrapper'>
            <ul>
              <li>{{details.adress1}}</li>
              <li>{{details.adress2}}</li>
              <li><a href='tel:{{details.phone}}'>{{details.phone}}</a></li>
              <li>
                <a href='mailto:{{details.email}}'>{{details.email}}</a>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <h2>Tecnologías</h2>
          <div class='wrapper'>
            <ul class="tools-list">
            {{#tools}}
              <li>
                {{category}}
                <div class="tools-name">
                  {{#tools}}
                      <p>{{name}}</p>
                  {{/tools}}
                </div>
                <!--<div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>-->
              </li>
            {{/tools}}
            </ul>
          </div>
        </section>
        <!--<section>
          <h2>Habilidades</h2>
          <div class='wrapper'>
            {{#skills}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul>
            {{/skills}}
          </div>
        </section>-->
      </aside>
      <footer>
        {{! Social Links Here }}
        <span>
          <ul>
              <li class="copy">
                Carlo Echeverría Fuentes &copy;2025
              </li>
            {{#links}}
              <li>
                <a href='{{link}}' rel='external' target='_blank'><i class="{{icon}}"></i></a>
              </li>
            {{/links}}
          </ul>
        </span>
      </footer>
    </div>
  </body>
</html>
