h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #303030;
}

h1 {
  font-size: 1.75em;
}

h2 {
  color: #c46474;
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
  color: #5f5f5f;
}

span,
p,
li {
  font-family: "Source Sans Pro", sans-serif;
  color: #858585;
  line-height: 2;
}

span,
a {
  color: #c46474;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  body {
    padding: 2em;
  }
}

#main-wrapper {
  background-color: #fefefe;
  margin: 0 auto;
  max-width: 1150px;
  overflow: auto;
  position: relative;
}

#information {
  width: 100%;
  box-sizing: border-box;
  padding: 2em 2em 0;
}
@media screen and (min-width: 768px) {
  #information {
    padding: 4em 4em 2em;
  }
}
@media screen and (min-width: 1140px) {
  #information {
    width: 70%;
    float: left;
    border-right: 1px solid #ebebeb;
  }
}

.alinear {
  text-align: justify;
}

section .wrapper {
  margin-top: 1em;
  padding-left: 1em;
  border-left: 1px solid #ebebeb;
}
@media screen and (min-width: 768px) {
  section .wrapper {
    padding-left: 2em;
  }
}

aside {
  box-sizing: border-box;
  padding: 0 2em 0;
  width: 100%;
}
aside ul {
  padding: 0 2em 0 0;
  margin-bottom: 0;
}
aside section {
  margin: 2em 0 0;
}
aside section:last-of-type {
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  aside {
    overflow: auto;
    padding: 0 4em 2em;
  }
  aside section {
    margin-right: 5%;
  }
  aside section:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1140px) {
  aside .wrapper {
    border-left: 0;
    padding: 0;
  }
  aside section {
    margin: 0;
    width: 30%;
    float: left;
  }
}
@media screen and (min-width: 1140px) {
  aside {
    float: left;
    padding: 4em 3em 0;
    width: 30%;
  }
  aside section {
    width: 100%;
    margin: 1em 0 0;
  }
  aside section:first-of-type {
    margin-top: 0.5em;
  }
}

#bio {
  overflow: auto;
}
#bio figure {
  margin-right: 30px;
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
#bio figure img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  border-radius: 40px;
  object-fit: cover;
}
#bio div {
  float: left;
}
#bio div span {
  display: block;
}
#bio div span.location {
  color: #858585;
}
@media screen and (min-width: 768px) {
  #bio figure {
    width: 100px;
    height: 100px;
  }
  #bio figure img {
    border-radius: 50px;
  }
}

footer {
  width: 100%;
  clear: left;
  display: block;
  text-align: right;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
  padding: 2em;
}
footer span {
  color: #858585;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 2em 4em;
  }
}
footer ul li {
  display: inline;
  padding-left: 10px;
}
footer li:first-child {
  float: left;
}

.skillbar {
  width: 100%;
  height: 5px;
  background-color: #ebebeb;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.skillbar .fill {
  border-radius: 3px 0 0 3px;
  width: 100%;
  height: 5px;
  background-color: #c46474;
  background-image: -webkit-linear-gradient(-405deg, #c46474, #e2a1b8);
  background-image: linear-gradient(135deg, #c46474, #e2a1b8);
}

.lists li {
  margin-bottom: 1em;
}

.desc-detailed {
  margin: 1rem;
  font-size: 14px;
  color: grey;
}

.tools-list {
  list-style-type: disc;
  margin-left: 1rem;
}

.tools-name {
  margin-left: 1rem;
}